main {
  display: flex;
  justify-content: space-between;
}

main .main-first--container {
  flex-direction: column;
}

main .main-first--container .main-social-media--container {
  flex-direction: row;
}
